<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>Создать игру</title>
</head>
<body> <form action="" name="test">


    <h1>Создание игры</h1>
<h4>Название игры</h4>
<input type="text" value="Тайный санта 2022">

   <h4>Сумма на подарок</h4>
   <input type="text" value="1000">
   <h4>Дата</h4>
   <input type="text" value="12.12.2021">
  <input type="submit" id="game" value="Создать игру">
   
    </form>
</body>
</html>