<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Присоединиться к игру</title>
</head>
<body>
    <h1>Чтобы начать играть, заполните небольшую анкету о себе</h1>
    <h4>Что хотели бы получить в подарок от Санты?</h4>
<input type="text">
    <h4>Что точно не дарить?</h4>
    <input type="text">
    <input type="button" value="Присоединиться к игре" id="join_game">
</body>
</html>