<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать игру</title>
</head>
<body>
    <h1>Создание игры</h1>
    <div class="game">
<h4>Название игры</h4>
<input type="text" value="Тайный санта 2022">

<h4> Как получаем подарки?</h4>
<input type="radio" name="" id=""> <p>Все в одном месте</p>
<input type="radio" name="" id=""><p>Присылаем подарки домой</p>
<input type="radio" name="" id=""><p>Офисы и удаленка</p>
   <h4>Сумма на подарок</h4>
   <input type="text" value="1000">
   <h4>Дата</h4>
   <input type="text" value="12.12.2021">
  <input type="button" id="game" value="Создать игру">
    </div>
</body>
</html>