<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИНФОРМАЦИЯ О ИГРЕ</title>
</head>
<body> 
    <div class="game"> 
    <h1>{{{game}}}</h1>
    <p>{{{data}}}</p>
    <p>{{{price}}}</p>
</div>

<h2>Ожидаем жеребьевку</h2>
<input type="button" value="Пригласить игроков">
<input type="button" value="Присоединиться к кому-нить">
</body>
</html>