<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dcnt</title>
</head>
<body>
    <section class="one"> 
    <header>
<div class="logo"> <img src="" alt=""> </div>
<div class="socials"> 
    <h4>Instagramm</h4>
    <h4>Facebook</h4> 
</div>
<div class="numbers"></div>
<div class="menu"> 
    <button class="btn-menu"></button>
</div>
    </header>
    <main>
<div class="horiz-menu">
    <div class="line"></div>
    <button class="current-num num">01</button>
    <button class="num">05</button>
</div>
<div class="article">
    <h1> IRELAND COURS</h1>
    <div class="discription">
        <span class="discrip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nobis nulla molestiae.</span>
        <span class="discrip"><a href="#">Become tour</a></span>
    </div>
</div>
<div class="card">
    <h6> TEST </h6>
    <div class="card-discription">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat!
        <a href="#">Book</a>
    </div>
    
    <div class="card">
        <h6> TEST </h6>
        <div class="card-discription">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat!
            <a href="#">Book</a>
        </div>

        <div class="card">
            <h6> TEST </h6>
            <div class="card-discription">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat!
                <a href="#">Book</a>
            </div>
</div>
<div class="slider">
    <button type="text"></button>
    <button type="text"></button>
</div>


    </main>
    <footer></footer>
</section>
<section class="two">
    <header>
        <div class="logo"> <img src="" alt=""> </div>
        <div class="socials"> 
            <h4>Instagramm</h4>
            <h4>Facebook</h4> 
        </div>
        <div class="numbers"></div>
        <div class="menu"> 
            <button class="btn-menu"></button>
        </div>
            </header>
<main>
    <div class="horiz-menu">
        <div class="line"></div>
        <button class="current-num num">02</button>
        <button class="num">05</button>
    </div>

    <div class="article"> 
        <h1> Tours</h1>
    </div>

<div class="card">
    <div class="description">
        <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sit sint!</h3>

        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi eos natus repudiandae rem velit veniam optio animi molestias aliquid?</span>
<ol>
    <li></li>
    <li></li>
    <li></li>
</ol>
<div class="time"> Duration: lOREM</div>
<div class="price"> 300$</div>
<a href="#">Book</a>
<img src="" alt="">
    </div>
</div>

<div class="gallery-card">
<h4> Lorem</h4>
<span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus tenetur nemo ipsam!</span>
</div>

<div class="gallery-card">
    <h4> Lorem</h4>
    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus tenetur nemo ipsam!</span>
    </div>
    <div class="vertical-menu">
        <div class="line"></div>
        <button class="current-num num">01</button>
        <button class="num">10</button>
    </div>

</main>





</section>
<section class="three">
    <header>
    <div class="logo"> <img src="" alt=""> </div>
    <div class="socials"> 
        <h4>Instagramm</h4>
        <h4>Facebook</h4> 
    </div>
    <div class="numbers"></div>
    <div class="menu"> 
        <button class="btn-menu"></button>
    </div>
   
        </header>
        <main>
            <div class="horiz-menu">
                <div class="line"></div>
                <button class="current-num num">03</button>
                <button class="num">05</button>
            </div>
    <div class="description">
<h2>  Oestinations</h2>
<div class="town"> City Alabama </div>
<div class="descrip"> <h4> Cliffs of Lorem</h4>
<span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora laborum quasi.  </span>
</div>
    </div>

    <div class="gallery"> 
        <img src="" alt="">
        <img src="" alt="">
    </div>

    <div class="vertical-menu">
        <div class="line"></div>
        <button class="current-num num">04</button>
        <button class="num">05</button>
    </div>

        </main>
</section>
<section class="four">
    <header>
        <div class="logo"> <img src="" alt=""> </div>
        <div class="socials"> 
            <h4>Instagramm</h4>
            <h4>Facebook</h4> 
        </div>
        <div class="numbers"></div>
        <div class="menu"> 
            <button class="btn-menu"></button>
        </div>
       
            </header>
            <main>
                <div class="horiz-menu">
                    <div class="line"></div>
                    <button class="current-num num">04</button>
                    <button class="num">05</button>
                </div>
<div class="description">
<h1> Abous us</h1>
<div class="descrip">
<h4> Our mission</h4>
<span>  
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam ullam doloremque voluptatum laudantium nihil quibusdam, ab ipsa natus libero ut quae quod at. Nihil at rerum laudantium vero cupiditate ad?
</span>
<img src="" alt="">
<a href="#"> Learn</a>

</div>
</div>

<div class="round-cards">
<img src="" alt="">
<span>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis asperiores quasi explicabo et necessitatibus id.
</span>
</div>
<div class="round-cards">
    <img src="" alt="">
    <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis asperiores quasi explicabo et necessitatibus id.
    </span>
    </div>
    <div class="round-cards">
        <img src="" alt="">
        <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis asperiores quasi explicabo et necessitatibus id.
        </span>
        </div>
        <div class="round-cards">
            <img src="" alt="">
            <span>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis asperiores quasi explicabo et necessitatibus id.
            </span>
            </div>








        </main>
</section>
<section class="five">
    <header>
        <div class="logo"> <img src="" alt=""> </div>
        <div class="socials"> 
            <h4>Instagramm</h4>
            <h4>Facebook</h4> 
        </div>
        <div class="numbers"></div>
        <div class="menu"> 
            <button class="btn-menu"></button>
        </div>
        
            </header>
<main>
    <div class="horiz-menu">
        <div class="line"></div>
        <button class="current-num num">05</button>
        <button class="num">05</button>
    </div>
<div class="description">
<span> <h2> Contacts</h2></span>
<div class="contact">
    <h4> Contact Us</h4>
<ul>
    <li>88805353535</li>
    <li>user@mail.ru</li>
    <li>Places</li>
</ul>

</div>
<div class="forms">
<h4> Any questionss </h4>
<input type="text" name="" id="">
<input type="email" name="" id="">
<input type="text" name="" id="">
<a href="#"> Send</a>
</div>
<div class="map">
    <img src="" alt="SVG MAP">
</div>
</div>

</main>




</section>

</body>
</html>