<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
</head>
<body>
  <h1> Your item </h1> 


    <div class="item"><br>
    <a href="localhost:3000/item/" target="_blank">{{{name}}}</a>
    {{{cost}}}
    <br>
    {{{description}}}
    <br>
    <img src="/{{{image}}}">
     </div>
</body>
</html>