<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa</title>
</head>
<body>
    <header>
<div class="logo">
    <img src="" alt="logoti">

</div>
<nav>
<ul class="horiz-menu">
    <li><a href="#">Новости</a></li>
    <li><a href="#">Избранное</a></li>
    <li><a href="#">Контакты</a></li>
</ul>    
</nav>
<div class="sidebar">
<div class="search">
    <input type="search" name="" id="">
    <button class="btn-rounded searchbt"></button>
</div>
<div class="side-menu">
    <span class="menu-choice">Trip </span>
    <button class="btn-rounded burger"></button>
</div>
</div>

    </header>
    <main>
<div class="slider"></div>
<div class="arcticle">
    <article class="asia current">
        <h1>Африка</h1>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus aspernatur quaerat vel eum ut eius.</p>
        <button class="standart primary">Исследовать</button>
    </article>
    
</div>
<div class="gallery-cards">
    <div class="gallery"> 
        <div class="card">
        <div class="card-description">
            <h4> Пустыня,Алабама</h4>
            <div class="rating">
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round"></div>
            </div>
        </div>
        <div class="card-photo">
            <img src="" alt="">
            <button class="btn-rounded fav">Избранное</button>

        </div>
    </div>
    <div class="card">
        <div class="card-description">
            <h4> Пустыня,Алабама</h4>
            <div class="rating">
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round"></div>
            </div>
        </div>
        <div class="card-photo">
            <img src="" alt="">
            <button class="btn-rounded fav">Избранное</button>
            
        </div>
    </div>
    <div class="card">
        <div class="card-description">
            <h4> Пустыня,Алабама</h4>
            <div class="rating">
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round fill"></div>
                <div class="rating-round"></div>
            </div>
        </div>
        <div class="card-photo">
            <img src="" alt="">
            <button class="btn-rounded fav">Избранное</button>
            
        </div>
    </div>
    </div>

    <div class="controls">
        <div class="button-controls">
            <button class="btn-rounded left">Влево</button>
            <button class="btn-rounded right">Вправо</button>
        </div>
        <div class="card-count">
            <span class="current-num num">01</span>
            <div class="line"></div>
            <span class="num">03</span>
        </div>

    </div>

</div>
    </main>

    <footer>
    </footer>
</body>
</html>