<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD</title>
</head>
<body>
    {%if data %}
     <table>
         <tr>
            {%for item in data.colums%}
            <td> {{item}}</td>
            {% endfor%}
         </tr>
         <tr>
         {{%for row in data.rows % }}
<td> {{item}}</td>
         {%endfor%}
         </tr>
     </table>
     {%endif%}
     <form action ="/search" method="get">
     <input type="text" name="id"> <br>
     <button  type ="submit"> Поиск </button>
</body>
</html>