<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dcnt</title>
</head>
<body>
    <header>
<div class="logo"> <img src="" alt=""> </div>
<div class="socials"> 
    <h4>Instagramm</h4>
    <h4>Facebook</h4> 
</div>
<div class="numbers"></div>
<div class="menu"> 
    <button class="btn-menu"></button>
</div>
    </header>
    <main>
<div class="horiz-menu">
    <div class="line"></div>
    <button class="current-num num">01</button>
    <button class="num">05</button>
</div>
<div class="article">
    <h1> IRELAND COURS</h1>
    <div class="discription">
        <span class="discrip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nobis nulla molestiae.</span>
        <span class="discrip"><a href="#">Become tour</a></span>
    </div>
</div>
<div class="card">
    <div class="card-discription">
        
    </div>
</div>
<div class="slider"></div>


    </main>
    <footer></footer>
    
</body>
</html>